{% load staticfiles %}
<html>

<head>
  <title>RPGeNet v2.0 - Retinitis Pigmentosa Gene Network</title>
  <meta name="description" content="RPGeNet v2.0 - Retinitis Pigmentosa Gene Network: interacting with the network of genes related to retinitis pigmentosa genes.">
  <meta name="keywords" content="RPGeNet,retinitis pigmentosa,RP,interaction network,retinal disease,driver genes">
  <link rel="shortcut icon" href="{%  static 'Images/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <div id="title-div">
    <div id="title-container" class="row">
      <div class="col-sm-2" id="app-logo-div">
        <a href="/RPGeNet"><img id="app-logo" src="{% static 'Images/logo.png' %}"></a>
      </div>
      <div class="col-sm-10" id="title-text"> RPGeNet <span class="version">v2.0</span> </div>
    </div>


  </div>

  <div class="navbar-container">
    <nav class="navbar navbar-default thenavbar">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li id="navbar-home" class="nav-elem"><a href="{% url index_view %}">Home</a></li>
          <li id="navbar-data" class="nav-elem"><a href="{% url data %}">Data</a></li>
          <li id="navbar-tutorial" class="nav-elem"><a href="{% url tutorial %}">Tutorial</a></li>
          <li id="navbar-about" class="nav-elem active"><a href="{% url about %}">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <br>

  <div class="body-card">
    <h1>About</h1>
    <hr>
    <p>Retinitis pigmentosa is a highly heterogenous disease with now over 200 known driver genes. With such high hetergeneity, RPGeNet, a web application tool, was created to help users find new potential driver genes of retinitis pigmentosa and help better visualize the complex interaction network of the retina. The interaction database is formed by the merger of self-curated <a target="_blank" href="https://thebiogrid.org/">BioGRID</a>, <a target="_blank" href="https://string-db.org/">STRING</a> and text-mining (<a href="https://compgen.bio.ub.edu/PPaxe/" target="_blank">PPaxe</a>) interaction data. The database is managed by <a target="_blank" href="https://neo4j.com/">neo4j</a> and the graph's visual display is created by <a target="_blank" href="http://js.cytoscape.org/">Cytoscape.js</a>.</p>
    <p>Currently, RPGeNet counts with 275 driver genes, 18,707 total genes and 739,122 interactions. Further information is available on our <a href="{% url data %}">data</a> page and our <a target="_blank" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0135307">published paper</a>.</p>
    <p>RPGeNet was created by <a target="_blank" href="https://compgen.bio.ub.edu/">Compgen Lab</a> and <a target="_blank" href="http://www.ub.edu/genetica/humana/marfany.htm">Marfany Laboratory</a> at the <a target="_blank" href="https://www.ub.edu/web/ub/en/index.html">University of Barcelona</a>.</p>
    <h3>Citing RPGeNet</h3>
    <hr>
    <blockquote>
      <p><a target="_blank" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0135307">Distilling a Visual Network of Retinitis Pigmentosa Gene-Protein Interactions to Uncover New Disease Candidates.</a>
        <br>Daniel Boloc, Sergio Castillo-Lara, Gemma Marfany, Roser Gonzàlez-Duarte and Josep F. Abril.
        <br><i>PLoS ONE</i>, 2015, 10(8): e0135307
      </p>
    </blockquote>

  </div>

  <div id="footer">
    <div class="footer-left">
      <div class="cgl-logo-footer-container">
        <a target="_blank" href="https://compgen.bio.ub.edu">
          <img class="cgl-logo-footer" src="{% static 'Images/compgen-logo.png' %}">
        </a>
      </div>
      <div class="cgl-links-footer">
        <a target="_blank" href="https://compgen.bio.ub.edu">Home</a> ·
        <a target="_blank" href="https://compgen.bio.ub.edu/Research">Research</a> ·
        <a target="_blank" href="https://compgen.bio.ub.edu/Acknowledgements">Acknowledgements</a> ·
        <a target="_blank" href="https://compgen.bio.ub.edu/contact">Contact</a>
        <p class="copyright">Computational Genomics Lab © 2015-2018</p>
      </div>
    </div>
    <div class="footer-right">
      <div class="logo-container row">
        <div class="col-sm-4">
          <a target="_blank" href="http://www.ub.edu/web/ub/en/index.html?">
            <img class="ub-logo-footer" src="{% static 'Images/ub-logo.png' %}">
          </a>
        </div>
        <div class="col-sm-4">
          <a target="_blank" href="http://www.ub.edu/ibub/en/index.html">
            <img class="ibub-logo-footer" src="{% static 'Images/ibub-logo.png' %}">
          </a>
        </div>
        <div class="col-sm-4">
          <a target="_blank"  href="http://www.ciberer.es/en">
            <img class="ciberer-logo-footer" src="{% static 'Images/ciberer-logo.png' %}">
          </a>
        </div>
      </div>
    </div>
  </div>


<script src="{% static 'js/jquery-min.js' %}"></script>
<script src="{% static 'js/bootstrap-min.js' %}"></script>
<script src="{% static 'js/stoopidoverlay.js' %}"></script>
<script src="{% static 'js/overlays.js' %}"></script>

</body>
</html>
