{% load staticfiles %}
<html>

<head>
  <title>RPGeNet v2.0 - Retinitis Pigmentosa Gene Network</title>
  <meta name="description" content="RPGeNet v2.0 - Retinitis Pigmentosa Gene Network: interacting with the network of genes related to retinitis pigmentosa genes.">
  <meta name="keywords" content="RPGeNet,retinitis pigmentosa,RP,interaction network,retinal disease,driver genes">
  <link rel="shortcut icon" href="{%  static 'Images/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <div id="title-div">
    <div id="title-container" class="row">
      <div class="col-sm-2" id="app-logo-div">
        <a href="/RPGeNet"><img id="app-logo" src="{% static 'Images/logo.png' %}"></a>
      </div>
      <div class="col-sm-10" id="title-text"> RPGeNet <span class="version">v2.0</span> </div>
    </div>


  </div>

  <div class="navbar-container">
    <nav class="navbar navbar-default thenavbar">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li id="navbar-home" class="nav-elem"><a href="{% url index_view %}">Home</a></li>
          <li id="navbar-data" class="nav-elem active"><a href="{% url data %}">Data</a></li>
          <li id="navbar-tutorial" class="nav-elem"><a href="{% url tutorial %}">Tutorial</a></li>
          <li id="navbar-about" class="nav-elem"><a href="{% url about %}">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <br>

  <!-- Get info Card on click -->
    <!-- Gene Card -->
    <div id="button-container">
        <div class="close-overlay" title="Close card">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </div>
    <div class="card-overlay" id="card-overlay"></div>

  <div class="body-card">
    <h1>Data - Human</h1>
    <hr>

    <div class="toc">
      <h3>Table of Contents</h3>

      <ol>
        <li><a href="#drivers">Driver Genes</a></li>
        <li><a href="#sources">Sources</a></li>
        <ul>
          <li><a href="#biogrid">BioGRID</a></li>
          <li><a href="#string">STRING</a></li>
          <li><a href="#ppaxe">PPaxe</a></li>
        </ul>
        <li><a href="#network">Network</a></li>
        <li><a href="#comparison">Comparison with previous version</a></li>
        <li><a href="#expression">Expression</a></li>
      </ol>
    </div>

    <h3 id="drivers">Driver Genes: </h3>
    <hr>
      <select id="driver-select" data-size="10" title="Choose Driver Gene" class="form-control selectpicker" data-live-search="true">
        {% for driver in drivers %}
          {% ifchanged driver.gene_disease %}
            <optgroup label="
              {% if driver.gene_disease == 1 %}
                Syndromic
              {% elif driver.gene_disease == 2 %}
                Non-Syndromic
              {% else %}
                Symdromic + Non-Syndromic
              {% endif %}">
          {% endifchanged %}
          <option class="driver-select">{{ driver.identifier }}</option>
        {% endfor %}
      </select>

    {# -- RODRIGOOOO! -- #}
    <h3 id="sources">Sources</h3>
    <hr>
    <p><tt>RPGeNet</tt> is a curated network built from interactions gathered from two interaction databases, <a target="_blank" href="https://thebiogrid.org/"><tt>BioGRID</tt></a> and <a target="_blank" href="https://string-db.org/"><tt>STRING</tt></a>, as well as, from the protein interaction text-mining tool, <a href="https://compgen.bio.ub.edu/PPaxe/" target="_blank"><tt>PPaxe</tt></a>.</p>

    <p><tt>BioGRID</tt> is a genetic and protein interaction database that contains experimentally verified interactions for a plethora of species. <tt>STRING</tt> is only a protein interaction database that contains both verified interactions and non-verifed predictions. The databases were filterd by species to ensure only human interactions were included in the network (two species hybrid interactions were also discarded). <tt>STRING</tt>, containing many non-experimentally verified predictions, had all interactions with no evidence filtered out.</p>

    <a href="{% static 'Images/data/data_human/sfigure1-string_evidence_plot.png' %}" target="_blank"><img class="data-img string_graph" src="{% static 'Images/data/data_human/sfigure1-string_evidence_plot.png' %}" alt="STRING Evidence Distribution"></a>

    <p><tt>STRING</tt> database offers a large range of sources of evidences for experimentally validated and predicted protein-to-protein interactions. <tt>RPGeNet</tt> only includes experimentally validated and no predicted interactions. The graph above shows the proportions of each source found of the experimentally validated interactions used in <tt>RPGeNet</tt>.</p>

    <a href="{% static 'Images/data/data_human/ppaxe_filter_cutoff_plots.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/ppaxe_filter_cutoff_plots.png' %}" alt="PPaxe Score Distribution"></a>

    <p>The previous figure shows the distribution of the <tt>PPaxe</tt> scores given to the interactions detected, the number of <tt>PPaxe</tt> interactions and the average score depending on the cutoff score chosen. In an attempt to optimize the number interactions while reducing false positive interactions and increasing false-negatives, the cutoff score chosen was 0.65.</p>

    <h3 id="network">Network</h3>
    <hr>
    <p>To build the complete core network, it was first needed to create the skeleton: a graph network that connects all the driver genes through their shortest paths between them. There are further subgraph levels above the skeleton (level 0 subgraph) that are an extension of that initial graph. The first level is an extension of the skeleton with the addition of parents and children genes that connect to the skeleton but are not themselves within the skeleton. The next level includes parents and children of the genes found within the first level that are not already in the skeleton and level one. The same pattern continues until there is a saturation (no more higher levels can be derived as there are no parent/child edges left to expand the last level), except for the wholegraph defining the complete core network that includes genes that still do not connect with the last network level.</p>

    <a href="{% static 'Images/data/data_human/RPgenes-x-alldbs_graph_allpaths.dot.geneconnections.circos2018.s.png' %}" target="_blank"><img class="data-img circos_graph" src="{% static 'Images/data/data_human/RPgenes-x-alldbs_graph_allpaths.dot.geneconnections.circos2018.s.png' %}" alt="Circos Graph"></a>
    <!-- Level        Node    Interactions -->
    <!-- Wholegraph   19416   1210705      -->
    <!-- Skeleton     4071    34060        -->
    <!-- One          18775   918419       -->
    <!-- Two          19392   1210045      -->
    <!-- Three        19416   1210705      -->

    <p>The contribution of evidences from each source to <tt>RPGeNet</tt> build 2.0.2 is described on the following table:</p>
    
    <div class="table-responsive">
      <table class="table table-bordered table-data data-genename">
      <tr class="table-data-header" style="font-size: larger !important; font-weight: bold;">
          <th width="200px" class="th-lgC"> SUBGRAPH LEVEL </th>
	                                                      <th>   Skeleton </th><th>    Level1 </th><th>     Level2 </th><th>     Level3 </th><th> WholeGraph </th></tr>
      <tr><th class="th-dkL">NODES SUMMARY               </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgL">Total UNIQUE NODES          </th><td>      4 018 </td><td>    17 851 </td><td>     18 512 </td><td>     18 527 </td><td>     18 542 </td></tr>
      <tr><th class="th-lgR">             Adjacent Nodes </th><td>      4 002 </td><td>    17 836 </td><td>     18 497 </td><td>     18 512 </td><td>     18 527 </td></tr>
      <tr><th class="th-lgR">             Isolated Nodes </th><td>         16 </td><td>        15 </td><td>         15 </td><td>         15 </td><td>         15 </td></tr>
      <tr><th class="th-lgL">NODES by Source             </th><td colspan="5"></td></tr>
      <tr><th class="th-lgR">                    BioGRID </th><td>      3 677 </td><td>    14 831 </td><td>     15 132 </td><td>     15 136 </td><td>     15 139 </td></tr>
      <tr><th class="th-lgR">                     STRING </th><td>      3 580 </td><td>    12 864 </td><td>     13 253 </td><td>     13 263 </td><td>     13 269 </td></tr>
      <tr><th class="th-lgR">                      PPaxe </th><td>      1 407 </td><td>     3 016 </td><td>      3 054 </td><td>      3 056 </td><td>      3 062 </td></tr>
      <tr><th class="th-lgR">                      TOTAL </th><td>      8 664 </td><td>    30 711 </td><td>     31 439 </td><td>     31 455 </td><td>     31 470 </td></tr>
      <tr><th class="th-lgR">  Nodes source "redundancy" </th><td>    215.63% </td><td>   172.04% </td><td>    169.83% </td><td>    169.78% </td><td>    169.72% </td></tr>
      <!-- -->                 										            	                 	              		           
      <tr><th class="th-dkL">EDGES SUMMARY               </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgL">Total DIRECTED EDGES        </th><td>     35 528 </td><td>   932 340 </td><td>  1 217 902 </td><td>  1 218 017 </td><td>  1 218 032 </td></tr>
      <tr><th class="th-lgR">               Mutual [A⇌B] </th><td>      9 601 </td><td>   462 988 </td><td>    604 652 </td><td>    604 707 </td><td>    604 713 </td></tr>
      <tr><th class="th-lgR">           Assymetric [A⇀B] </th><td>     16 326 </td><td>     5 074 </td><td>      5 931 </td><td>      5 931 </td><td>      5 931 </td></tr>
      <tr><th class="th-lgR">            Self-loop [A⇀A] </th><td>          0 </td><td>     1 290 </td><td>      2 667 </td><td>      2 672 </td><td>      2 675 </td></tr>
      <tr><th class="th-lgR">        Total Non-Redundant </th><td>     25 927 </td><td>   469 352 </td><td>    613 250 </td><td>    613 310 </td><td>    613 319 </td></tr>
      <tr><th class="th-lgR">Directed edges "redundancy" </th><td>    137.03% </td><td>   198.64% </td><td>    198.60% </td><td>    198.60% </td><td>    198.60% </td></tr>
      <tr><th class="th-lgL">EDGES by Source             </th><td colspan="5"></td></tr>
      <tr><th class="th-lgR">                BioGRID all </th><td>     22 914 </td><td>   518 478 </td><td>    623 643 </td><td>    623 656 </td><td>    623 659 </td></tr>
      <tr><th class="th-lgR">               BioGRID only </th><td>     21 334 </td><td>   483 667 </td><td>    579 207 </td><td>    579 220 </td><td>    579 220 </td></tr>
      <tr><th class="th-lgR">                 STRING all </th><td>     12 563 </td><td>   440 111 </td><td>    629 167 </td><td>    629 265 </td><td>    629 271 </td></tr>
      <tr><th class="th-lgR">                STRING only </th><td>     10 599 </td><td>   402 920 </td><td>    582 094 </td><td>    582 190 </td><td>    582 190 </td></tr>
      <tr><th class="th-lgR">                  PPaxe all </th><td>      2 277 </td><td>    12 282 </td><td>     13 572 </td><td>     13 578 </td><td>     13 584 </td></tr>
      <tr><th class="th-lgR">                 PPaxe only </th><td>      1 534 </td><td>     8 049 </td><td>      8 984 </td><td>      8 988 </td><td>      8 988 </td></tr>
      <tr><th class="th-lgR">                      TOTAL </th><td>     37 754 </td><td>   970 871 </td><td>  1 266 382 </td><td>  1 266 499 </td><td>  1 266 514 </td></tr>
      <tr><th class="th-lgR">  Edges source "redundancy" </th><td>    145.62% </td><td>   206.85% </td><td>    206.50% </td><td>    206.50% </td><td>    206.50% </td></tr>
      <!-- -->                
      <tr class="table-data-header" style="font-size: larger !important; font-weight: bold;">
          <th class="th-dkL"> EVIDENCE SUMMARY           </th><th>   Skeleton </th><th>    Level1 </th><th>     Level2 </th><th>     Level3 </th><th> WholeGraph </th></tr>
      <tr><th class="th-lgL">TOTAL EVIDENCES             </th><td>     75 447 </td><td> 2 371 305 </td><td>  3 209 677 </td><td>  3 209 856 </td><td>  3 209 871 </td></tr>
      <tr><th class="th-lgL">By Class                    </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgR">          Genetic evidences </th><td>        257 </td><td>     6 018 </td><td>      7 062 </td><td>      7 063 </td><td>      7 063 </td></tr>
      <tr><th class="th-lgR"> Avg. evids x directed edge </th><td>      0.007 </td><td>     0.006 </td><td>      0.006 </td><td>      0.006 </td><td>      0.006 </td></tr>
      <tr><th class="th-lgR">         Physical evidences </th><td>     70 561 </td><td> 2 342 154 </td><td>  3 177 567 </td><td>  3 177 739 </td><td>  3 177 748 </td></tr>
      <tr><th class="th-lgR"> Avg. evids x directed edge </th><td>      1.986 </td><td>     2.512 </td><td>      2.609 </td><td>      2.609 </td><td>      2.609 </td></tr>
      <tr><th class="th-lgR">      Unknown evids (PPaxe) </th><td>      4 629 </td><td>    23 133 </td><td>     25 048 </td><td>     25 054 </td><td>     25 060 </td></tr>
      <tr><th class="th-lgR"> Avg. evids x directed edge </th><td>      0.130 </td><td>     0.025 </td><td>      0.021 </td><td>      0.021 </td><td>      0.021 </td></tr>
      <tr><th class="th-lgL">By Source                   </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgR">                    BioGRID </th><td>     31 726 </td><td>   705 485 </td><td>    842 798 </td><td>    842 815 </td><td>    842 818 </td></tr>
      <tr><th class="th-lgR">      Physical interactions </th><td>     31 469 </td><td>   699 467 </td><td>    835 736 </td><td>    835 752 </td><td>    835 755 </td></tr>
      <tr><th class="th-lgR">       Genetic Interactions </th><td>        257 </td><td>     6 018 </td><td>      7 062 </td><td>      7 063 </td><td>      7 063 </td></tr>
      <tr><th class="th-lgR"> Avg. evids x directed edge </th><td>      0.893 </td><td>     0.757 </td><td>      0.692 </td><td>      0.692 </td><td>      0.692 </td></tr>
      <tr><th class="th-lgR">                     STRING </th><td>     39 092 </td><td> 1 642 687 </td><td>  2 341 831 </td><td>  2 341 987 </td><td>  2 341 993 </td></tr>
      <tr><th class="th-lgR"> Avg. evids x directed edge </th><td>      1.100 </td><td>     1.762 </td><td>      1.923 </td><td>      1.923 </td><td>      1.923 </td></tr>
      <tr><th class="th-lgR">                      PPaxe </th><td>      4 629 </td><td>    23 133 </td><td>     25 048 </td><td>     25 054 </td><td>     25 060 </td></tr>
      <tr><th class="th-lgR"> Avg. evids x directed edge </th><td>      0.130 </td><td>     0.025 </td><td>      0.021 </td><td>      0.021 </td><td>      0.021 </td></tr>
       <!-- -->
      <tr class="table-data-header" style="font-size: larger !important; font-weight: bold;">
	  <th class="th-dkL"> EDGES with STRING score    </th><th>   Skeleton </th><th>    Level1 </th><th>     Level2 </th><th>     Level3 </th><th> WholeGraph </th></tr>                                   
      <tr><th class="th-lgL">      With any STRING score </th><td>     12 563 </td><td>   440 111 </td><td>    629 167 </td><td>    629 265 </td><td>    629 271 </td></tr>
      <tr><th class="th-lgR">  With "experimental" score </th><td>      2 696 </td><td>    75 075 </td><td>    109 191 </td><td>    109 231 </td><td>    109 235 </td></tr>
      <tr><th class="th-lgR">      With "database" score </th><td>      9 112 </td><td>   371 666 </td><td>    541 032 </td><td>    541 082 </td><td>    541 084 </td></tr>
      <tr><th class="th-lgR">   With "text-mining" score </th><td>      8 803 </td><td>   248 133 </td><td>    345 610 </td><td>    345 682 </td><td>    345 686 </td></tr>
      <tr><th class="th-lgR"> With "co-expression" score </th><td>      2 227 </td><td>   107 246 </td><td>    157 974 </td><td>    158 008 </td><td>    158 010 </td></tr>
      <tr><th class="th-lgR">  With "neighborhood" score </th><td>          0 </td><td>         0 </td><td>          0 </td><td>          0 </td><td>          0 </td></tr>
      <tr><th class="th-lgR">   With gene-"fusion" score </th><td>         16 </td><td>     1 136 </td><td>      2 384 </td><td>      2 384 </td><td>      2 384 </td></tr>
      <tr><th class="th-lgR">  With "co-occurence" score </th><td>        124 </td><td>     6 320 </td><td>      8 749 </td><td>      8 755 </td><td>      8 757 </td></tr>
      </table>
    </div>
    
    <h3 id="topology">Graph Topology</h3>
    <hr>
    <p>A summary of graph statistics for <tt>RPGeNet</tt> build 2.0.2 at each of the subgraph levels derived from the initial skeleton graph (level 0 subgraph) can be found on the table below:</p>
    
    <div class="table-responsive">
      <table class="table table-bordered table-data data-genename">
      <tr class="table-data-header" style="font-size: larger !important; font-weight: bold;">
          <th width="250px" class="th-lgC"> SUBGRAPH LEVEL </th>
	                                                 <th>    Skeleton </th><th>    Level1 </th><th>    Level2 </th><th>    Level3 </th><th>WholeGraph </th></tr>
      <tr><th class="th-dkL">NODES SUMMARY          </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgR">          Total #Nodes </th><td>       4 018 </td><td>    17 851 </td><td>    18 512 </td><td>    18 527 </td><td>    18 542 </td></tr>
      <tr><th class="th-lgR">        Isolated Nodes </th><td>          16 </td><td>        15 </td><td>        15 </td><td>        15 </td><td>        15 </td></tr>
      <tr><th class="th-lgR"> Adjacent Driver Genes </th><td style="text-align:center;"> 260 of 276 </td><td colspan="4" style="text-align:center;"> 261 of 276 </td></tr>
      <!-- -->
      <tr><th class="th-dkL">EDGES SUMMARY          </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgR">  Total Directed Edges </th><td>      35 528 </td><td>   932 340 </td><td> 1 217 902 </td><td> 1 218 017 </td><td> 1 218 032 </td></tr>
      <tr><th class="th-lgR">          Mutual [A⇌B] </th><td>       9 601 </td><td>   462 988 </td><td>   604 652 </td><td>   604 707 </td><td>   604 713 </td></tr>
      <tr><th class="th-lgR">      Assymetric [A⇀B] </th><td>      16 326 </td><td>     5 074 </td><td>     5 931 </td><td>     5 931 </td><td>     5 931 </td></tr>
      <tr><th class="th-lgR">       Self-loop [A⇀A] </th><td>           0 </td><td>     1 290 </td><td>     2 667 </td><td>     2 672 </td><td>     2 675 </td></tr>
      <tr><th class="th-lgR">   Total Non-redundant </th><td>      25 927 </td><td>   469 352 </td><td>   613 250 </td><td>   613 310 </td><td>   613 319 </td></tr>
      <!-- -->
      <tr><th class="th-dkL">GRAPH STATS            </th><td colspan="5"></td></tr>    		     		          		       			    	
      <tr><th class="th-lgR">         Graph Density </th><td>      0.0022 </td><td>    0.0029 </td><td>    0.0036 </td><td>    0.0035 </td><td>    0.0035 </td></tr>
      <tr><th class="th-lgR"> Avg. Clustering Coef. </th><td>      0.0613 </td><td>    0.1449 </td><td>    0.2331 </td><td>    0.2331 </td><td>    0.2331 </td></tr>
      <tr><th class="th-lgR">        Graph Diameter </th><td>           8 </td><td>         6 </td><td>         7 </td><td>         8 </td><td>         8 </td></tr>
      <tr><th class="th-lgR">     Graph Reciprocity </th><td>      0.5405 </td><td>    0.9946 </td><td>    0.9951 </td><td>    0.9951 </td><td>    0.9951 </td></tr>
      <tr><th class="th-lgR">           Avg. Degree </th><td>     17.6844 </td><td>  104.4580 </td><td>  131.5797 </td><td>  131.4856 </td><td>  131.3809 </td></tr>
      <tr><th class="th-lgR">        Avg. Closeness </th><td>       0.052 </td><td>    0.0529 </td><td>    0.0529 </td><td>    0.0529 </td><td>    0.0295 </td></tr>
      <tr><th class="th-lgR">           Betweenness </th><td>   10 423.13 </td><td> 33 430.86 </td><td> 34 988.77 </td><td> 35 073.29 </td><td> 35 044.91 </td></tr>
      <tr><th class="th-lgR"> Avg. Edge Betweenness </th><td>    1 629.48 </td><td>    980.37 </td><td>    812.19 </td><td>    814.28 </td><td>    814.27 </td></tr>
      <tr><th class="th-lgR">         Avg. Coreness </th><td>      9.1309 </td><td>   54.8258 </td><td>   77.0557 </td><td>   77.0063 </td><td>   76.9456 </td></tr>
      <tr><th class="th-lgR">     Avg. Eccentricity </th><td>      5.6904 </td><td>    4.5666 </td><td>    4.9552 </td><td>    5.8732 </td><td>    5.8691 </td></tr>
      <tr><th class="th-lgR">      Avg. Path Length </th><td>      3.6155 </td><td>    2.8810 </td><td>    2.8969 </td><td>    2.9000 </td><td>    2.9000 </td></tr>
      </table>
    </div>
    
    </p>Comparison of the in and out degrees for each level of the interactions graph:</p>
    <a href="{% static 'Images/data/data_human/sfigure3-rpgenet_human_count_degree.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/sfigure3-rpgenet_human_count_degree.png' %}" alt="upset plot comparing the interactions in the previous version of RPGeNet with updated version"></a>

    <h3 id="comparison">Comparison with previous version</h3>
    <hr>
    <p>With an addition of 166 new driver genes now known, <tt>RPGeNet</tt> was in need of an update. The increase in the number of driver genes partially precipitated an early saturation in the number of levels from the skeleton. Our new network, however, does have less non-redundant interactions and genes in comparison to the previous network. This is mainly due to the extensive filtering of STRING. The previous network included the predictions but the updated network only includes interactions with evidences.</p>

    <!--<img src="" alt="Comparitive Bar Graph"> -->
    <h4>Network Explorer Interface</h4>
    <p> Here we have an example of the result of an initial query for <i>CERKL</i> on <tt>RPGeNet.v1</tt> and <tt>v2</tt> on screenshots below (top and bottom respectively), to illustrate design changes of Network Explorer web interface but also new functionalities.</p>
    <a href="{% static 'Images/data/data_human/Figure_cerkl_rpgenetv1.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/Figure_cerkl_rpgenetv1.png' %}" alt="CERKL search in RPGeNet v.1"></a>
    <br>
    <a href="{% static 'Images/data/data_human/Figure_cerkl_rpgenetv2.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/Figure_cerkl_rpgenetv2.png' %}" alt="CERKL search in RPGeNet v.2"></a>
    <br>
    <p> You can <a href="{% static 'Images/data/data_human/Figure_cerkl_rpgenetv2_graph-export.json' %}" target="_blank" alt="Saved CERKL graph layout from RPGeNet v.2">download the <tt>JSON</tt> file containing the saved graph layout</a> to reproduce the <tt>CERKL</tt> network on <tt>RPGeNet.v2</tt> example from the above screenshot. </p>
    <br>

    <!--<h4>Upset graphs comparing number of nodes and interactions shared and unique, in the skeletons, between <tt>RPGeNet</tt> versions 1 and 2</h4> 
    <div class="upset_row">
      <div class="upset_column">
        <a href="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr_skeleton-nodes.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr_skeleton-nodes.png' %}" alt="Upset Plot RPGeNet v1 vs v2 Skeleton Nodes"></a>
      </div>
      <div class="upset_column">
        <a href="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr_skeleton-ints.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr_skeleton-ints.png' %}" alt="Upset Plot RPGeNet v1 vs v2 Skeleton Interactions"></a>
      </div>
    </div>-->

    <h4>Graph Comparison</h4>
        
    <div class="table-responsive">
      <table class="table table-bordered table-data data-genename">
	<tr class="table-data-header" style="font-size: larger !important; font-weight: bold;">
	  <th width="150px" class="th-lgR"> VERSION </th>
          <th colspan="2" class="th-dkC"><tt>RPGeNet v1</tt></th>
	  <th colspan="2" class="th-dkC"><tt>RPGeNet v2</tt></th></tr>
          
      <tr><th class="th-dkL">NODES SUMMARY          </th><!-- td colspan="4">  </td></tr -->
	                                                 <th class="th-lgC" width="80px">     Skeleton </th><th class="th-lgC" width="80px"> WholeGraph </th>
                                                         <th class="th-lgC" width="80px">     Skeleton </th><th class="th-lgC" width="80px"> WholeGraph </th></tr>
      <tr><th class="th-lgR">          Total #Nodes </th><td>        1 294 </td><td>     22 372 </td><td>        4 018 </td><td>     18 542 </td></tr>
      <tr><th class="th-lgR">        Isolated Nodes </th><td>            7 </td><td>          7 </td><td>           16 </td><td>         15 </td></tr>
      <tr><th class="th-lgR"> Adjacent Driver Genes </th><td>      103/110 </td><td>    103/110 </td><td>      260/276 </td><td>    261/276 </td></tr>
      <!-- -->
      <tr><th class="th-dkL">EDGES SUMMARY          </th><!-- td colspan="4">  </td></tr -->    		     		          		       			    	
	                                                 <th class="th-lgC" width="80px">     Skeleton </th><th class="th-lgC" width="80px"> WholeGraph </th>
                                                         <th class="th-lgC" width="80px">     Skeleton </th><th class="th-lgC" width="80px"> WholeGraph </th></tr>
      <tr><th class="th-lgR">  Total Directed Edges </th><td>        5 883 </td><td>     752 062 </td><td>      35 528 </td><td>  1 218 032 </td></tr>
      <tr><th class="th-lgR">          Mutual [A⇌B] </th><td>        1 082 </td><td>     319 928 </td><td>       9 601 </td><td>    604 713 </td></tr>
      <tr><th class="th-lgR">      Assymetric [A⇀B] </th><td>        3 719 </td><td>     106 907 </td><td>      16 326 </td><td>      5 931 </td></tr>
      <tr><th class="th-lgR">       Self-loop [A⇀A] </th><td>            0 </td><td>       5 299 </td><td>           0 </td><td>      2 675 </td></tr>
      <tr><th class="th-lgR">   Total Non-redundant </th><td>        4 801 </td><td>     432 134 </td><td>      25 927 </td><td>    613 319 </td></tr>
      </table>
    </div>

    <!-- <p><tt>UpsetR</tt> graphs comparing number of nodes and interactions shared and unique, in the wholegraphs, between <tt>RPGeNet v1</tt> and <tt>2</tt>.</p> --> 

    <!-- <div class="upset_row"> -->
    <!--   <div class="upset_column"> -->
    <!--     <a href="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr-nodes.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr-nodes.png' %}" alt="Upset Plot RPGeNet v1 vs v2 Whole Graph Nodes"></a> -->
    <!--   </div> -->
    <!--   <div class="upset_column"> -->
    <!--     <a href="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr-ints.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/rpgenetv1_vs_v2_upsetr-ints.png' %}" alt="Upset Plot RPGeNet v1 vs v2 Whole Graph Interactions"></a> -->
    <!--   </div> -->
    <!-- </div> -->

    <h3 id="expression">Expression analysis</h3>
    <hr>
    <p>Unfortunately, there are few multi-tissue microarray expression experiments that include retina within their list of tissues. We had to rely on a relatively old microarray experiment (GSE7905) that includes thirty-two different tissues including the retina, liver, brain, skeletal muscle and others. Although the experiment is not recent, the expression values are still useful in finding potentially important pathways associated with retinitis pigmentosa by looking to see if the genes in a pathway all express within the retina. We hope to soon be able to have an updated multitissue expression experiment to use.</p>

    <h4>Volcano chart</h4>
    <a href="{% static 'Images/data/data_human/volcano_plot_RPGeNet_rt-all.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/volcano_plot_RPGeNet_rt-all.png' %}" alt="Distribution Matrix"></a>
    <br>
    <h4>Heatmap</h4>
    <a href="{% static 'Images/data/data_human/GSE7905_gea.sampledistmatrix.png' %}" target="_blank"><img class="data-img ppaxe_graph" src="{% static 'Images/data/data_human/GSE7905_gea.sampledistmatrix.png' %}" alt="Distribution Matrix"></a>

    <p>Top twenty relatively overexpressed genes in retina in comparison to all tissues:</p>
    <!--<div class="table-data-op">-->
      <div class="table-responsive">
        <table class="table table-bordered table-data data-genename">

          <tr class="table-data-header"><th>Gene Symbol</th><th>Average Expression</th><th>t</th><th>logFC</th><th>P. Value</th><th>Adjusted P. Value</th></tr>

          <tr><th class="th-gene"> TMEM98         </th><td>   1.54276e+01 </td><td>   1.19506e+02 </td><td>   3.76379e+00 </td><td>   1.71574e-78 </td><td>   5.64101e-74 </td></tr>
          <tr><th class="th-gene"> UNC119         </th><td>   1.52132e+01 </td><td>   1.09719e+02 </td><td>   4.60785e+00 </td><td>   4.54282e-76 </td><td>   7.46795e-72 </td></tr>
          <tr><th class="th-gene"> GPX3           </th><td>   1.57962e+01 </td><td>   9.99257e+01 </td><td>   3.96335e+00 </td><td>   2.02176e-73 </td><td>   2.21571e-69 </td></tr>
          <tr><th class="th-gene"> EFEMP1         </th><td>   1.57655e+01 </td><td>   8.30937e+01 </td><td>   4.06639e+00 </td><td>   3.31868e-68 </td><td>   2.72779e-64 </td></tr>
          <tr><th class="th-gene"> APOD           </th><td>   1.54900e+01 </td><td>   8.08101e+01 </td><td>   4.20815e+00 </td><td>   2.02969e-67 </td><td>   1.33464e-63 </td></tr>
          <tr><th class="th-gene"> AOC3           </th><td>   1.46594e+01 </td><td>   7.49936e+01 </td><td>   3.50441e+00 </td><td>   2.59104e-65 </td><td>   1.41980e-61 </td></tr>
          <tr><th class="th-gene"> INPP5K         </th><td>   1.47864e+01 </td><td>   7.08373e+01 </td><td>   2.84811e+00 </td><td>   1.04379e-63 </td><td>   4.90255e-60 </td></tr>
          <tr><th class="th-gene"> SERPINF1       </th><td>   1.79001e+01 </td><td>   7.02973e+01 </td><td>   3.10665e+00 </td><td>   1.71338e-63 </td><td>   7.04158e-60 </td></tr>
          <tr><th class="th-gene"> SLC22A17       </th><td>   1.58003e+01 </td><td>   6.94541e+01 </td><td>   2.91467e+00 </td><td>   3.74310e-63 </td><td>   1.36740e-59 </td></tr>
          <tr><th class="th-gene"> SEPT4          </th><td>   1.48751e+01 </td><td>   6.85776e+01 </td><td>   2.78186e+00 </td><td>   8.51682e-63 </td><td>   2.72644e-59 </td></tr>
          <tr><th class="th-gene"> GJA1           </th><td>   1.59067e+01 </td><td>   6.85049e+01 </td><td>   3.09793e+00 </td><td>   9.12187e-63 </td><td>   2.72644e-59 </td></tr>
          <tr><th class="th-gene"> FOXC1          </th><td>   1.50100e+01 </td><td>   6.81441e+01 </td><td>   3.80321e+00 </td><td>   1.28380e-62 </td><td>   3.51741e-59 </td></tr>
          <tr><th class="th-gene"> MGP            </th><td>   1.71069e+01 </td><td>   6.79695e+01 </td><td>   2.87181e+00 </td><td>   1.51573e-62 </td><td>   3.64205e-59 </td></tr>
          <tr><th class="th-gene"> PTP4A3         </th><td>   1.45879e+01 </td><td>   6.79454e+01 </td><td>   2.45700e+00 </td><td>   1.55084e-62 </td><td>   3.64205e-59 </td></tr>
          <tr><th class="th-gene"> RNASE1         </th><td>   1.63907e+01 </td><td>   6.58746e+01 </td><td>   2.92969e+00 </td><td>   1.14808e-61 </td><td>   2.51644e-58 </td></tr>
          <tr><th class="th-gene"> CHCHD6         </th><td>   1.51307e+01 </td><td>   6.55999e+01 </td><td>   2.70855e+00 </td><td>   1.50417e-61 </td><td>   2.90906e-58 </td></tr>
          <tr><th class="th-gene"> C1QTNF5        </th><td>   1.29306e+01 </td><td>   6.26564e+01 </td><td>   4.17481e+00 </td><td>   2.91860e-60 </td><td>   5.33098e-57 </td></tr>
          <tr><th class="th-gene"> KANK2          </th><td>   1.67269e+01 </td><td>   6.20026e+01 </td><td>   2.52482e+00 </td><td>   5.74309e-60 </td><td>   9.93797e-57 </td></tr>
          <tr><th class="th-gene"> GPNMB          </th><td>   1.56794e+01 </td><td>   6.17375e+01 </td><td>   3.23300e+00 </td><td>   7.57265e-60 </td><td>   1.24487e-56 </td></tr>
          <tr><th class="th-gene"> ADGRA2         </th><td>   1.51704e+01 </td><td>   6.12170e+01 </td><td>   2.41251e+00 </td><td>   1.30741e-59 </td><td>   2.04690e-56 </td></tr>

        </table>
      </div>
    <!--</div>-->
    <p>Top twenty relatively underexpressed genes in retina in comparison to all tissues:</p>
    <div class="table-responsive">
      <table class="table table-bordered table-data data-genename">

        <tr class="table-data-header"><td>Gene Symbol</td><td>Average Expression</td><td>t</td><td>logFC</td><td>P. Value</td><td>Adjusted P. Value</td></tr>

        <tr><th> SCN8A          </th><td>   9.21722e+00 </td><td>  -4.86829e-03 </td><td>  -1.27044e-03 </td><td>   9.96130e-01 </td><td>   9.97512e-01 </td></tr>
        <tr><th> KRTAP10_4      </th><td>   1.08677e+01 </td><td>   4.86202e-03 </td><td>   8.24666e-04 </td><td>   9.96135e-01 </td><td>   9.97512e-01 </td></tr>
        <tr><th> GLRX2          </th><td>   1.25596e+01 </td><td>   4.80925e-03 </td><td>   7.16169e-04 </td><td>   9.96177e-01 </td><td>   9.97512e-01 </td></tr>
        <tr><th> INSL4          </th><td>   8.68381e+00 </td><td>  -4.72755e-03 </td><td>  -1.61184e-03 </td><td>   9.96242e-01 </td><td>   9.97521e-01 </td></tr>
        <tr><th> EHMT1          </th><td>   1.11133e+01 </td><td>   4.72200e-03 </td><td>   1.00922e-03 </td><td>   9.96247e-01 </td><td>   9.97521e-01 </td></tr>
        <tr><th> YPEL1          </th><td>   1.16304e+01 </td><td>   4.29957e-03 </td><td>   7.30017e-04 </td><td>   9.96582e-01 </td><td>   9.97766e-01 </td></tr>
        <tr><th> RFX8           </th><td>   1.03852e+01 </td><td>   4.21322e-03 </td><td>   1.35426e-03 </td><td>   9.96651e-01 </td><td>   9.97774e-01 </td></tr>
        <tr><th> DPF3           </th><td>   8.57543e+00 </td><td>  -3.91878e-03 </td><td>  -1.14387e-03 </td><td>   9.96885e-01 </td><td>   9.97948e-01 </td></tr>
        <tr><th> BANF1          </th><td>   1.13208e+01 </td><td>  -3.85001e-03 </td><td>  -7.99110e-04 </td><td>   9.96940e-01 </td><td>   9.97972e-01 </td></tr>
        <tr><th> PCDHGA6        </th><td>   9.22860e+00 </td><td>  -3.78145e-03 </td><td>  -1.30935e-03 </td><td>   9.96994e-01 </td><td>   9.97996e-01 </td></tr>
        <tr><th> CSNK1G2_AS1    </th><td>   9.30784e+00 </td><td>  -3.46594e-03 </td><td>  -1.26328e-03 </td><td>   9.97245e-01 </td><td>   9.98214e-01 </td></tr>
        <tr><th> WDR62          </th><td>   8.99319e+00 </td><td>   3.43087e-03 </td><td>   9.84490e-04 </td><td>   9.97273e-01 </td><td>   9.98214e-01 </td></tr>
        <tr><th> FLJ34790       </th><td>   1.07538e+01 </td><td>  -3.28461e-03 </td><td>  -9.17140e-04 </td><td>   9.97389e-01 </td><td>   9.98252e-01 </td></tr>
        <tr><th> PAM16          </th><td>   1.30554e+01 </td><td>   2.66893e-03 </td><td>   1.43794e-04 </td><td>   9.97879e-01 </td><td>   9.98577e-01 </td></tr>
        <tr><th> NCBP2          </th><td>   1.30254e+01 </td><td>  -2.22164e-03 </td><td>  -1.40418e-04 </td><td>   9.98234e-01 </td><td>   9.98826e-01 </td></tr>
        <tr><th> C1ORF127       </th><td>   1.00062e+01 </td><td>  -2.12662e-03 </td><td>  -8.15441e-04 </td><td>   9.98310e-01 </td><td>   9.98826e-01 </td></tr>
        <tr><th> PYY2           </th><td>   9.13073e+00 </td><td>   1.54440e-03 </td><td>   5.05289e-04 </td><td>   9.98772e-01 </td><td>   9.99168e-01 </td></tr>
        <tr><th> TEX11          </th><td>   9.41583e+00 </td><td>   7.98628e-04 </td><td>   2.32093e-04 </td><td>   9.99365e-01 </td><td>   9.99578e-01 </td></tr>
        <tr><th> C17ORF49       </th><td>   1.52699e+01 </td><td>   3.14705e-04 </td><td>   1.48092e-05 </td><td>   9.99750e-01 </td><td>   9.99841e-01 </td></tr>
        <tr><th> RERG           </th><td>   1.41530e+01 </td><td>  -8.51990e-05 </td><td>  -6.10756e-06 </td><td>   9.99932e-01 </td><td>   9.99934e-01 </td></tr>

      </table>
    </div>

    <!-- RODRIGOOOO! -->

  </div>

  <div id="footer">
    <div class="footer-left">
      <div class="cgl-logo-footer-container">
        <a target="_blank" href="https://compgen.bio.ub.edu">
          <img class="cgl-logo-footer" src="{% static 'Images/compgen-logo.png' %}">
        </a>
      </div>
      <div class="cgl-links-footer">
        <a target="_blank" href="https://compgen.bio.ub.edu">Home</a> ·
        <a target="_blank" href="https://compgen.bio.ub.edu/Research">Research</a> ·
        <a target="_blank" href="https://compgen.bio.ub.edu/Acknowledgements">Acknowledgements</a> ·
        <a target="_blank" href="https://compgen.bio.ub.edu/contact">Contact</a>
        <p class="copyright">Computational Genomics Lab © 2015-2018</p>
      </div>
    </div>
    <div class="footer-right">
      <div class="logo-container row">
        <div class="col-sm-4">
          <a target="_blank" href="http://www.ub.edu/web/ub/en/index.html?">
            <img class="ub-logo-footer" src="{% static 'Images/ub-logo.png' %}">
          </a>
        </div>
        <div class="col-sm-4">
          <a target="_blank" href="http://www.ub.edu/ibub/en/index.html">
            <img class="ibub-logo-footer" src="{% static 'Images/ibub-logo.png' %}">
          </a>
        </div>
        <div class="col-sm-4">
          <a target="_blank"  href="http://www.ciberer.es/en">
            <img class="ciberer-logo-footer" src="{% static 'Images/ciberer-logo.png' %}">
          </a>
        </div>
      </div>
    </div>


    <a href="#0" class="cd-top" title="Back to Top">Top</a>
  </div>


<script src="{% static 'js/jquery-min.js' %}"></script>
<script src="{% static 'js/bootstrap-min.js' %}"></script>
<script src="{% static 'js/back-to-top.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/stoopidoverlay.js' %}"></script>
<script src="{% static 'js/overlays.js' %}"></script>
<script src="{% static 'js/card-overlay.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
  $("#driver-select").on("change", function(){
    // Define this for compatibility with nPropertiesOnClick
    var driver = {
      name: $(this).val(),
      data: function() {
        dict = { name: this.name };
        return dict;
      }
    }
    nPropertiesOnClick("", driver);
  });
</script>

</body>
</html>
