{% load staticfiles %}
<html>
  {# :django comment: how to set a default string if var empty: {{ item.somefield|default:"" }} #}

<h2>Interaction</h2>
<br />
	{# % for type in interaction.int_type % #}
	{#	<span class="int-{{type}}">[{{type|capfirst}}]</span>  #}
	{# % endfor % #}

<!-- hr / -->

<!-- table class="table" --> <!-- class="table table-bordered table-int" -->
	<!-- tr style="font-size: 30px; font-weight: bold; padding: 10px; vertical-align: middle;" -->
		<!-- td style="font-size:large;">{{ interaction.parent.identifier }}</td -->
		<div style="width: 100%; text-align: center; font-size: 30px; font-weight: bold; padding: 10px;">
		  <span class="card-int-nodeleft">{{ interaction.parent.identifier }}</span>
		  <span class="glyphicon glyphicon-minus card-int-{{interaction.int_best}}"></span>
		  <span class="negcard-int-{{interaction.int_best}}">{% if interaction.level == 0 %}Skeleton{% elif interaction.level == 5 %}WholeGraph{% else %}Level&nbsp;{{ interaction.level }}{% endif %}</span>
		  <span class="glyphicon glyphicon-arrow-right card-int-{{interaction.int_best}}"></span>
		  <span class="card-int-noderight">{{ interaction.child.identifier }}</span>
		  <!-- img class="arrow" src="{% static 'Images/arrow.png' %}" -->
		</div>
		<!-- td style="font-size:large;">{{ interaction.child.identifier }}</td -->
	<!-- /tr -->
<!-- /table -->

<br />

<h2>Sources</h2>

<!-- hr / -->

  <table class="table table-bordered">
     <th colspan="2">
      <h4 style="float: left;">
	Evidences Count
      </h4>
    </tr>
    <tr>
      <td><span class="glyphicon glyphicon-circle-arrow-right int-genetic"></span>&nbsp;
	  <b>Genetic interaction evidences</b></td>
      <td align="center" class="negcol-int-{{interaction.int_best}}">{{ interaction.genetic_interaction  }}</td>
    </tr>
    <tr>
      <td><span class="glyphicon glyphicon-circle-arrow-right int-physical"></span>&nbsp;
	  <b>Physical interaction evidences</b></td>
      <td align="center" class="negcol-int-{{interaction.int_best}}">{{ interaction.physical_interaction }}</td>
    </tr>
    <tr>
      <td><span class="glyphicon glyphicon-circle-arrow-right int-unknown"></span>&nbsp;
	  <b>PPaxe interaction evidences</b></td>
      <td align="center" class="negcol-int-{{interaction.int_best}}">{{ interaction.unknown_interaction  }}</td>
    </tr>
    <tr>
      <td colspan="2" align="right">Most abundant interaction evidences: <i>{% if interaction.int_best == "unknown" %}Literature Mining{% else %}{{interaction.int_best|capfirst}}{% endif %}</i></td>
    </tr>
  </table>

  {% if interaction.biogrid %}
  <br/>
  {# if interaction.biogrid_evidences and interaction.biogrid_evidences != "NA" #}
  <table class="table table-bordered" width="100%" style="font-size:small;">
    <tr>
     <th colspan="3">
      <h4 style="float: left;">
	<a href="https://thebiogrid.org/" target="_blank"> 
          <img src="{% static 'Images/biogrid-logo.png' %}" class="source-logo"> BioGRID
	</a> <!-- emph>N={{ interaction.biogrid }}</emph -->
      </h4>
      <div style="float: right; font-size: small;"><br />
	<a href="https://thebiogrid.org/search.php?search={{ interaction.parent.identifier }}&organism=9606"  target="_blank">{{ interaction.parent.identifier }}</a>
	<span class="glyphicon glyphicon-arrow-right"></span>
 	<a href="https://thebiogrid.org/search.php?search={{ interaction.child.identifier }}&organism=9606"  target="_blank">{{ interaction.child.identifier }}</a>
      </div>
      <!-- th colspan="2">PubMed References</th -->
     </th>
    </tr>
    <tr>
      <th align="center">PubMed ID</th>
      <th align="center">Type</th>
      <th width="60%">Description <a href="https://wiki.thebiogrid.org/doku.php/experimental_systems" title="BioGrid Evidence Type Description" target="_blank"><span class="glyphicon glyphicon-share"></span></a></th>
    </tr>
    {% for bpmid in interaction.biogrid_evidences %}
      {% if bpmid != "NA" %}
      <tr>
        <td align="center"> {{ bpmid.0|safe }} </td>
        <td align="center">
	  <span class="glyphicon glyphicon-circle-arrow-right card-int-{% if bpmid.3 == 'P' %}physical{% elif bpmid.3 == 'G' %}genetic{% else %}unknown{% endif %}"></span>&nbsp;
	  {% if bpmid.3 == 'P' %}Physical{% elif bpmid.3 == 'G' %}Genetic{% else %}Unknown{% endif %}
	</td>
        <td> {{ bpmid.2 }} </td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}

  {% if interaction.string %}
  <br/>
  <table class="table table-bordered" width="100%" style="font-size:small;">
    <tr>
     <th colspan="2">
      <h4 style="float: left;">
    	<a href="https://string-db.org/" target="_blank">
    	  <img src="{% static 'Images/string-logo.png' %}" class="source-logo"> STRING
    	</a> <!-- emph>N={{ interaction.string }}</emph -->
      </h4>
      <div style="float: right; font-size: small;"><br />
	<a href="https://string-db.org/cgi/network.pl?identifiers={{ interaction.parent.identifier }}\%0d{{ interaction.child.identifier }}&species=9606"  target="_blank">
	  {{ interaction.parent.identifier }} <span class="glyphicon glyphicon-arrow-right"></span> {{ interaction.child.identifier }}
	</a>
      </div>
     </th>
     <!-- th colspan="2">STRING Evidences</th -->
    </tr>
    {# STRING SCORES TABLE #}
    {% if interaction.string_scores and interaction.string_scores != "NA" %}
    <tr>
      <th colspan="2"><h4 style="float: right; margin: 0px; padding: 5px 0px 0px 5px;">Scores Summary</h4></th>
    </tr>
    <tr>
      <th align="center">Score</th>
      <th width="80%">Description <a href="https://string-db.org/help/getting_started/#evidence" title="STRING Evidence Type Description" target="_blank"><span class="glyphicon glyphicon-share"></span></a></th>
    </tr>
    <tr><td align="center"> {{ interaction.string_scores.0 }}  </td><td> <b>Combined</b> </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.1 }}  </td><td> Experimental    </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.2 }}  </td><td> Database        </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.3 }}  </td><td> Text Mining     </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.4 }}  </td><td> Co-Expression   </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.5 }}  </td><td> Neighborhood    </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.6 }}  </td><td> Fusion          </td></tr>
    <tr><td align="center"> {{ interaction.string_scores.7 }}  </td><td> Co-Occurence    </td></tr>
    {% endif %}
    {# STRING ACTIONS TABLE #}
    {% if interaction.string_actions and interaction.string_actions != "NA" %}
    <tr>
      <th colspan="2"><h4 style="float: right; margin: 0px; padding: 5px 0px 0px 5px;">Actions</h4></th>
    </tr>
    <tr>
      <th align="center">Score</th>
      <th width="80%">Description</th>
    </tr>
        {% for thyaction in interaction.string_actions %}
	  {% if thyaction != "NA" %}
          <tr>
            <td align="center"> {{ thyaction.1 }} </td>
            <td> {% if thyaction.2 == "ptmod" %}Post-Translational modification (ptmod){% else %}{{ thyaction.2|capfirst }}{% endif %} </td>
	  </tr>
	  {% endif %}
	{% endfor %}
    {% endif %}
    {# STRING RAW EVIDENCES TABLE #}
    {% if interaction.string_evidences and interaction.string_evidences != "NA" %}
    <tr>
      <th colspan="2"><h4 style="float: right; margin: 0px; padding: 5px 0px 0px 5px;">Raw Evidences</h4></th>
    </tr>
    <tr>
      <th align="center">Class</th>
      <th width="80%">Supported by</th>
    </tr>
	{% for spmid in interaction.string_evidences %}
	  {% if spmid != "NA" %}
	  <tr>
	    <td align="center"> <tt>{{ spmid.2 }}</tt> </td>
	    <td> {{ spmid.0|safe }} </td>
	  </tr>
	  {% endif %}
	{% endfor %}
    {% endif %}
  </table>
  {% endif %}
      
  {% if interaction.ppaxe %}
  <br/>
  <table class="table table-bordered" width="100%" style="font-size:small;">
    <tr>
      <th colspan="3">
  	<h4>
  	  <a href="https://compgen.bio.ub.edu/PPaxe" target="_blank">
  	    <img src="{% static 'Images/ppaxe-logo.png' %}" class="source-logo"> PPaxe
  	  </a> <!-- emph>N={{ interaction.ppaxe }}</emph -->
  	</h4>
      </th>
    </tr>
    <tr>
      <th align="center">PubMed ID</th>
      <th align="center">Score</th>
      <th>Source sentence</th>
    </tr>
    {% for pmid in interaction.ppaxe_evidences %}
      {% if pmid != "NA" %}
      <tr>
	<td align="center">{{ pmid.0|safe }}</td>
	<td align="center">{{ pmid.1 }}</td>
	<td width="70%">{{ pmid.2|safe }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}

<br />
<br />

</html>
