{% load staticfiles %}
<html>
<head>
	<title>RPGeNet v2.0 - Retinitis Pigmentosa Gene Network</title>
	<meta name="description" content="RPGeNet v2.0 - Retinitis Pigmentosa Gene Network: interacting with the network of genes related to retinitis pigmentosa genes.">
	<meta name="keywords" content="RPGeNet,retinitis pigmentosa,RP,interaction network,retinal disease,driver genes">
	<link rel="shortcut icon" href="{%  static 'Images/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
	<link rel="stylesheet" href="{% static 'css/toggle-switch.css' %}">
</head>

<body>

	<div id="title-div">
		<div id="title-container" class="row">
			<div class="col-sm-2" id="app-logo-div">
				<a href="{% url index_view %}"><img id="app-logo" src="{% static 'Images/logo.png' %}"></a>
			</div>
			<div class="col-sm-10" id="title-text"> RPGeNet <span class="version">v2.0</span> </div>
		</div>


	</div>

	<div class="navbar-container">
		<nav class="navbar navbar-default thenavbar">
			<div class="navbar-inner">
				<ul class="nav navbar-nav">
					<li id="navbar-home" class="nav-elem"><a href="{% url index_view %}">Home</a></li>
					<li id="navbar-data" class="nav-elem"><a href="{% url data %}">Data</a></li>
					<li id="navbar-tutorial" class="nav-elem"><a href="{% url tutorial %}">Tutorial</a></li>
					<li id="navbar-about" class="nav-elem"><a href="{% url about %}">About</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="app-title-container">
		<span class="app-title">{{ appname }}</span>
	</div>
	<div class="body-card">

		<div class="row">
			<div class="col-sm-3">
				<h2 class="app-title"> Your Query</h2>
				<hr>
				<ul>
					{% if gene %}
						<li>Gene: <span class="label label-rp app-label">{{ gene }}</span></li>
						<br>
						<li>Path to: <span class="label label-rp app-label">{{ level }}</span></li>
					{% else %}
						<li>Source: <span class="label label-rp app-label">{{ source }}</span></li>
						<br>
						<li>Target: <span class="label label-rp app-label">{{ target }}</span></li>
					{% endif %}
					<br>
					<li>Experiment: <span class="label label-rp app-label">{{ exp }}</span></li>
					<br>
				</ul>
			</div>
		
		{% if pathways %}
			<div class="col-sm-3">
				<h2 class="app-title"> Summary</h2>
				<hr>
				<ul>
					<li>Total Pathways: <span class="label label-rp app-label">{{ numpaths }}</span></li>
					<br>
					<li>Path length: <span class="label label-rp app-label">{{ plen }}</span></li>
					<br>
				</ul>
			</div>
		</div>

		<hr>
		<br><br>
		<div class="allpaths-container">
			{% for target, path in pathways.items %}
			<!-- path is a tuple
					[0] = json graph
					[1] = maxlvl
			-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-10">
								<h3>Pathway #{{ forloop.counter }}</h3>
								{% if appname == "Pathway to Level" %}
									<a href="{% url shortest_path %}?gene1={{ gene }}&gene2={{ target }}&exp={{ exp }}" target="_blank">All shortest paths</a>
								{% endif %}
							</div>

							<div class="path-right-btns col-sm-2">
								<a href="#" class="info-tooltip" title="View on NetExplorer">
                                    <form class="explore-network-form" method="POST" action="{% url upload_graph %}" target="_blank"> {% csrf_token %}
                                        <input type="hidden" name="myfile" value='{{ path.0|safe }}' />
                                        <input type="hidden" name="upload-level" value='{{ path.1 }}'/>
                                        <input type="hidden" name="exp_id" value='{{ exp }}'/>
                                        <button class="btn btn-default" type="submit">
                                        	Explore network
                                        </button>
                                    </form>
                                </a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="path-{{ forloop.counter }}" class="pcontainer" value='{{ path|safe }}'>
							<!-- Will contain cytoscape graph -->
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
		{% else %}
		<div class="col-sm-12"><br><br></div>
		<div class="col-sm-12">
			<div class="panel panel-danger">
				<div class="panel-heading">
					No results for your query
				</div>
				<div class="panel-body">
					Possible Causes:
					<ul>
						<li>The gene identifier was spelled incorrectly.</li>
						<li>The gene belongs to the specified level.</li>
						<li>The gene has no path to the specified level.</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
		{% endif %}
	</div>

	{% if pathways %}
	<div class="botton-btns-container">
		<div class="botton-btns">
			<a href="{% url index_view %}">
				<div class="btn btn-default"><span class="glyphicon glyphicon-home"> </span> Home</div>
			</a>
			<a href="{% url tutorial %}"><div class="btn btn-default">
				<span class="glyphicon glyphicon-question-sign"> </span> Tutorial</div>
			</a>
		</div>
	</div>
	{% endif %}

	<!-- JAVASCRIPT FILES -->
	<script src="{% static 'js/jquery-min.js' %}"></script>
	<script src="{% static 'js/cytoscape.js' %}"></script>
	<script src="{% static 'js/cytoscape-panzoom.js' %}"></script>
	<script src="{% static 'js/cytoscape-dagre.js' %}"></script>
	<script src="{% static 'js/bootstrap-min.js' %}"></script>
	<script src="{% static 'js/stoopidoverlay.js' %}"></script>
	<script src="{% static 'js/FileSaver.js' %}"></script>
	<script src="{% static 'js/pexplorer-cytoscape-definition.js' %}"></script>

{% if pathways %}
    {% for target, path in pathways.items %}
            <script>
            	// Remember that path is a tuple 
            	// [0] == the json graph
            	// [1] == maxlvl
            	var path = {{ path.0|safe }};
            	delete(path.maxlvl); // We delete the maxlvl key to avoid problems with Cytoscape.js
            	var plen = path['nodes'].length;
                $(document).ready(function(){
                    var cy = cytoscape({
                        style: stylesheet,
                        layout: { name: 'grid' },
                        zoomingEnabled: false,
                        container: document.getElementById('path-{{ forloop.counter }}'),
                        ready: function() {}
                    });
                    var elements = {{ path.0|safe }};
                    cy.add(elements)
                    var thelayout = cy.layout({
                        name: 'grid',
                        fit: true,
                        rows: 1, // force num of rows in the grid
  						cols: plen, // force num of columns in the grid
                        //directed: true,
                        padding: 40
                    });
                    thelayout.run();

                    // Define graph behaviour here (?)

                });
            </script>
        {% endfor %}

        
    {% endif %}


<div id="footer">
		<div class="footer-left">
			<div class="cgl-logo-footer-container">
				<a target="_blank" href="https://compgen.bio.ub.edu">
					<img class="cgl-logo-footer" src="{% static 'Images/compgen-logo.png' %}">
				</a>
			</div>
			<div class="cgl-links-footer">
				<a target="_blank" href="https://compgen.bio.ub.edu">Home</a> · 
				<a target="_blank" href="https://compgen.bio.ub.edu/Research">Research</a> · 
				<a target="_blank" href="https://compgen.bio.ub.edu/Acknowledgements">Acknowledgements</a> · 
				<a target="_blank" href="https://compgen.bio.ub.edu/contact">Contact</a> 
				<p class="copyright">Computational Genomics Lab © 2015-2018</p>
			</div>
		</div>
		<div class="footer-right">
			<div class="logo-container row">
				<div class="col-sm-4">
					<a target="_blank" href="http://www.ub.edu/web/ub/en/index.html?">
						<img class="ub-logo-footer" src="{% static 'Images/ub-logo.png' %}">
					</a>
				</div>
				<div class="col-sm-4">
					<a target="_blank" href="http://www.ub.edu/ibub/en/index.html">
						<img class="ibub-logo-footer" src="{% static 'Images/ibub-logo.png' %}">
					</a>
				</div>
				<div class="col-sm-4">			
					<a target="_blank"  href="http://www.ciberer.es/en">
						<img class="ciberer-logo-footer" src="{% static 'Images/ciberer-logo.png' %}">
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/back-to-top.js' %}"></script>
	<a href="#0" class="cd-top" title="Back to Top">Top</a>

</body>
</html>