{% load staticfiles %}
<html>
<head>
	<title>RPGeNet v2.0 - Retinitis Pigmentosa Gene Network</title>
	<meta name="description" content="RPGeNet v2.0 - Retinitis Pigmentosa Gene Network: interacting with the network of genes related to retinitis pigmentosa genes.">
	<meta name="keywords" content="RPGeNet,retinitis pigmentosa,RP,interaction network,retinal disease,driver genes">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
	<link rel="stylesheet" href="{% static 'css/toggle-switch.css' %}">
</head>

<body>
	





	<!-- JAVASCRIPT FILES -->
	<script src="{% static 'js/jquery-min.js' %}"></script>
	<script src="{% static 'js/cytoscape.js' %}"></script>
	<script src="{% static 'js/cytoscape-panzoom.js' %}"></script>
	<script src="{% static 'js/cytoscape-dagre.js' %}"></script>
	<script src="{% static 'js/bootstrap-min.js' %}"></script>
	<script src="{% static 'js/stoopidoverlay.js' %}"></script>
	<script src="{% static 'js/FileSaver.js' %}"></script>
	<script src="{% static 'js/pexplorer-cytoscape-definition.js' %}"></script>
</body>
</html>