{% load staticfiles %}
<html>
<head>
	<title>RPGeNet v2.0 - Retinitis Pigmentosa Gene Network</title>
	<meta name="description" content="RPGeNet v2.0 - Retinitis Pigmentosa Gene Network: interacting with the network of genes related to retinitis pigmentosa genes.">
	<meta name="keywords" content="RPGeNet,retinitis pigmentosa,RP,interaction network,retinal disease,driver genes">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
	<link rel="stylesheet" href="{% static 'css/toggle-switch.css' %}">
</head>

<body>
	
	{% if pathways %}

		{% for path in pathways %}

			<div class="panel">
				<div class="panel-heading">
					<h3>Pathway #{{ forloop.counter }}</h3>
				</div>
				<div class="panel-body">
					<div id="path-{{ forloop.counter }}" class="pcontainer" value="{{ path|safe }}">
						<!-- Will contain cytoscape graph -->
					</div>
				</div>
			</div>

		{% endfor %}

	{% endif %}

	<!-- JAVASCRIPT FILES -->
	<script src="{% static 'js/jquery-min.js' %}"></script>
	<script src="{% static 'js/cytoscape.js' %}"></script>
	<script src="{% static 'js/cytoscape-panzoom.js' %}"></script>
	<script src="{% static 'js/cytoscape-dagre.js' %}"></script>
	<script src="{% static 'js/bootstrap-min.js' %}"></script>
	<script src="{% static 'js/stoopidoverlay.js' %}"></script>
	<script src="{% static 'js/FileSaver.js' %}"></script>
	<script src="{% static 'js/pexplorer-cytoscape-definition.js' %}"></script>

{% if pathways %}
    {% for path in pathways %}
            <script>
                $(document).ready(function(){
                    var cy = cytoscape({
                        style: stylesheet,
                        layout: { name: 'preset' },
                        container: document.getElementById('path-{{ forloop.counter }}'),
                        ready: function() {}
                    });
                    var elements = {{ path|safe }};
                    cy.load(elements)
                    cy.layout({
                        name: 'grid',
                        maxSimulationTime: 3000,
                        fit: true,
                        directed: true,
                        padding: 40
                    });

                    // Define graph behaviour here (?)

                });
            </script>
        {% endfor %}
    {% endif %}

</body>
</html>