/*
	Styles for RPGeNet v2
*/

/* BASE 
================================== */
body 			{ font-size: 12px;}


/* HEADER
================================== */

#title-div { 
	margin-top: 40px; 
	width: 100%; 
	height: 120px; 
	text-align: center;
}

#title-container {
	display: inline-block;
	width: 620px;
}

#title-text {
	padding-left: 40px;
	text-align: left;
	font-size: 70px;
}

#app-logo {
	width: 100px;
}

#app-logo:hover {
	opacity: 0.8;
}

.version {
	font-size: 50px;
	color: #2ca089;
}

.navbar-container {
	text-align: center;
	width: 100%;

}

.thenavbar {
	display: inline-block;
	width: 306px; /* 4x nav-elem.width + 2px */
}

.navbar-inner {
	width: 100%;
	text-align: center !important;
}

.navbar-inner .nav {
	float: none;
	display: inline-block;
}

.nav-elem {
	width: 76px;
}

/* FOOTER
================================== */
#footer {
	margin-top: 100px;
	display: inline-block;
	bottom: 0;
	background-color: #EBEBEB;
	width: 100%;
	height: 200px;
}

.footer-left {
	float: left;
	width: 500px;
	margin-left: 80px;
	margin-top: 50px;
}

.cgl-logo-footer-container {
	display: inline-block;
	float: left;
}




.cgl-links-footer {
	display: inline-block;
	float: left; 
	margin-left: 20px;
	margin-top: 20px;
} 

.copyright { font-size: 12px; margin-top: 5px; }


.footer-right {
	float: right;
	width: 600px;
	margin-right: 80px;
	margin-top: 50px;
}

.cgl-logo-footer                  { width: 100px;     }
.logo-title                       { font-size: 14px;  }
.logo-container                   { margin-top: 20px; }
.ub-logo-footer                   { width: 180px;     }
.ciberer-logo-footer              { width: 180px;     }
.ibub-logo-footer                 { width: 180px;     }
img[class *='-logo-footer']:hover { opacity: 0.8;     }


/* BODY
================================== */

.content {
	min-height: 40%;
	margin-top: 0.5%;
	margin-left: 15%;
	margin-right: 15%;
}

.app-label {
	font-size: 12px !important;
}

.app-label-right { float: right; }
.app-label-right:hover { opacity: 0.8; cursor: pointer; }

.app-spacing {
	display: inline-block;
	float: left;
	width: 30px !important;
}

.app-panel-container {
	width: 100%;
	margin: auto;
	text-align: center;
}

.app-panel-container .row {
	display: inline-block;
}

.news-container {
	margin-bottom: 1.5%;
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #555;
}

.app-panel {
	padding: 2%;
	height: 285px;
	text-align: left !important;
	width: 520px !important;
	background-image: url('/static/Images/app-panel.png') !important;
	border-radius: 10px;
}

.btn-f1 {
	background-color: #8DC842 !important;
	color: white !important;
	width: 150px !important;
	margin-top: 25px;
}

.btn-f2 {
	background-color: #4AB0ED !important;
	color: white !important;
	width: 150px !important;
	margin-top: 25px;
}

.btn-f1:hover {
	opacity: 0.8;
}

.btn-f2:hover {
	opacity: 0.8;
}

#forms-container-container {
	text-align: center;
}
#forms-container {
	display: inline-block;
	text-align: center;
	margin-top: 5%;

	/*width: 940px;
	margin-left: 65px;*/
}

#f1-distance {
	color: #555;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
}

#f1-lvl {
	color: #555;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
}

#f2-lvl {
	color: #555;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
}

input#f1-distance {
	padding-left: 10px;
}

input#f1-lvl {
	padding-left: 10px;
}


.col-md-3.form-group {
	text-align: left;
}

.col-md-2.form-group {
	text-align: left;
}

tr.spaceUnder>td {
	font-size: 14px;
  padding-bottom: 1em;

}

tr.spaceUnder>th {
	font-size: 14px;
  padding-bottom: 1em;
  padding-right: 1em;
}

.question-badge {
	color: #F5A73A;
	font-size: 16px;
}

.question-badge:hover {
	opacity: 0.8;
	cursor: pointer;
}

.form-group {
	margin-bottom: 40px !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}


/* GEXPLORER
================================== */
#cyt {
	float: left;
	width: 75%;
	height: 100%;
	background-color: #FAFAFA;
}

#cyt-controls {
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	float: left;
	min-width: 330px;
	width: 25%;
	height: 100%;
	background-color: #FAFAFA;
	box-shadow: -2px 2px 8px 2px #E1E1E1;
	-moz-box-shadow: -2px 2px 8px 2px #E1E1E1;            
  	-webkit-box-shadow: -2px 2px 8px 2px #E1E1E1;    
}

#gexplorer-topbtns { margin-top: 10px; }
#gexplorer-logo    { width: 60px; }
#gexplorer-logo-container {
	display: inline-block;
	margin-top: 40px;
}

#gexplorer-title {
	margin-top: 20px;
	margin-left: 8px;
	font-size: 28px;
}

.behaviour-btn       { min-height: 30px; }
.behaviour-btn:hover { cursor: pointer; }
.behaviour-btn-text  { line-height: 30px; }
.cyt-controls-block  { margin-top: 30px; }
.cyt-controls-title  { font-size: 20px; color: #707070; }
.lvl-btn { width: 100%; }
.gexplorer-lvl-container { margin-top: 10px; }
.layout-dropdown         { margin-top: 10px; }
.bsize-container         { margin-top: 10px; }
.bsize-container         { height: 20px !important; }
#bsizeOutput             { font-size: 18px; line-height: 20px; padding-top: 0px !important; }
.gexplorer-btn           { display: inline-block; width: 90%; height: 50px; }
.gexplorer-col           { text-align:center; padding: 0 !important; }
.gexplorer-row           { margin-bottom: 10px; }
.glyphicon-grab          { display:inline-block; width: 14px; height: 16px; }
#drag-btn.active         { background-color: #3A9F88; color: white; }
#no-results-dialog #upload-form             { display: inline-block; }
#no-results-dialog       { 
	width: 30%; 
	height: 195px; 
	display: none; 
	position: fixed; 
	padding: 25px;
	left: 22.5%;
	top: 200px;
	z-index: 3;
	background-color: #FAFAFA;

}
#blur-effect {
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 2;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}


#gfiltermean {
	width: 185px;
}